{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h1>{% block title %} Welcome to Flask Currency Converter Project {% endblock %}</h1>

    <div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">User Registration</h1>
			</div></br>
            <div class="msg">{{ msg }}</div><br><br>
			<h2 class="word">
                <form method=post>
                    <dl>
                        {{ render_field(form.username) }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.confirm) }}
                    </dl>
                  <p><input type=submit value="Sign Up">
				</form>
			</h2>
			<p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a>
            &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            <a class="bottom" href="/"> Home</a>
        </p>
		</div>
		</div>
{% endblock %}
