{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h1>{% block title %} Welcome to Flask Currency Converter Project {% endblock %}</h1>

    <div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">User Registration</h1>
			</div></br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <div class="msg">{{ message }}</div><br><br>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
			<h2 class="word">
                <form method=post enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <dl>
                        {{ render_field(form.username) }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.confirm) }}
                        {{ render_field(form.profile_photo) }}
                    </dl>
                  <p><input type=submit value="Sign Up">
				</form>
			</h2>
			<p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a>
            &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            <a class="bottom" href="/"> Home</a>
        </p>
		</div>
		</div>
{% endblock %}
